<ion-header>
  <ion-toolbar color="primary">
    <ion-thumbnail slot="start" class="ion-margin-start">
      <img src="assets/img/logo-colegio.png" alt="Colegio de Ingenieros">
    </ion-thumbnail>

    <ion-buttons slot="primary" class="header-menu">
      <ion-button routerLink="/inicio">INICIO</ion-button>
      <ion-button routerLink="/perfil">PERFIL PROFESIONAL</ion-button>
      <ion-button routerLink="/portafolio">PORTAFOLIO</ion-button>
      <ion-button routerLink="/ia-motor" class="active-link">IA MOTOR</ion-button>
    </ion-buttons>

    <ion-thumbnail slot="end" class="ion-margin-end">
      <img src="assets/img/logo-universidad.png" alt="Universidad">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <iframe 
    src="https://jorge-linares-ia-uneti.netlify.app/" 
    style="width: 100%; height: calc(100% - 40px); border: none;"
    title="Asistente IA">
  </iframe>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-text>
      <p>PORTAFOLIO DE INGENIERÍA</p>
      <small>© 2026 Jorge Luis Linares - Telecomunicaciones & Informática</small>
    </ion-text>
  </ion-toolbar>
</ion-footer>